.container {
  margin: 20px auto;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
}

.menu {
  text-align: center;
}

.menu-2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.menu-2 p {
  padding: 10px;
  font-size: 1.5 rem;
  font-weight: bold;
}

table,
th,
td {
  padding: 10px;
  border: 1px dotted black;
  border-collapse: collapse;
}

td {
  padding: 0 10px;
  text-align: center;
}
